.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rank-element{
  display:flex;
  justify-content: flex-start;
  background-color: #a3a3a3;
  margin: 5px;
}

.rank-rank{
  padding: 10px;
  font-size: 2em;
  border: solid black 1px;
}

.rank-user-controls{
  padding: 10px;
  font-size: 2em;
  border: solid black 1px;
  flex-grow:1;
}

.challenge-request{
  border: solid black 1px;
  margin: 5px;
}

.cr-info, .cr-control{
  display: flex;
  justify-content: space-between;
}

.cr-info{
  background-color: #a3a3a3;
}

.cr-participant, .cr-text{
  padding: 10px;
  width: 33%;
  font-size: 2em;
  font-weight: bold;
  display: flex;
}

.cr-text{
  justify-content: center;
}

.cr-challenger{
  justify-content: flex-start;
}

.cr-opponent{
  justify-content: flex-end;
}

.cr-control{
  background-color: #00d9ff;
}

.cr-button{
  margin: 10px;
  font-size: 2em;
}

.cr-resolve{
  background-color: #4ff97a;
}

.cr-dismiss{
  background-color: #ff5e5e;
}
.announcement-caption {
  font-size: 10pt;
  color: #808080;
}

.announcement-content {
  font-size: 14pt;
}

.announcement-textarea {
  width: 80vw;
  height: 30vh;
}

div#home-page-body{
  display:flex;
  justify-content: space-around;
}

div.cr-match{
  display:flex;
  justify-content: space-between;
  border: solid black 1px;
  border-radius: 10px;
}

div.cr-game-group{
  margin: 5px;
  border: dotted gray 3px;
  border-radius: 10px;
}

div.cr-game-title{
  display: flex;
  justify-content: center;
}

div.cr-game-section{
  display: flex;
  justify-content: space-between;
}

div.cr-game{
  margin: 10px;
}

.cr-game-score-input-container-challenger, .cr-game-score-label-container-challenger{
  display: flex;
  justify-content: flex-start;
}

.cr-game-score-input-container-opponent, .cr-game-score-label-container-opponent{
  display: flex;
  justify-content: flex-end;
}

input.home-game-input{
  width: 40px;
}

div.home-cr-match-submit{
  margin: 10px;
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
}

div.home-cr-match-submit .home-cr-match-submit-button{
  background-color: #33ff33;
}
